* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
body {
  font-family: "carrois gothic sc", sans-serif;
  line-height: 1.5;
  word-break: break-word;
  margin: 0;
  color: #f96228;
  text-align: center;
}
img,
video {
  max-width: 100%;
  width: 300px;
}
table td,
tr,
th {
  border: 1px solid red;
  border-collapse: collapse;
  padding: 2px;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/***************header******************/

header {
  font-size: 1rem;
}
.divheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header-navigation a,
.login a {
  color: #d8ac1f;
  text-transform: uppercase;
  font-weight: bold;
}
.header-navigation a {
  width: 30%;
  color: #d8ac1f;
}
.login {
  min-width: fit-content;
}
.login p {
  color: #d8ac1f;
}
.header-navigation a {
  display: inline-block;
  width: 140px;
  margin: 10px;
  text-decoration: none;
}
.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header *,
footer * {
  transition: all 0.3s;
}

/*********************main********************/
/* video */
.spot {
  min-height: 450px;
  width: 100%;
}
.spot iframe {
  min-height: 450px;
  width: 100%;
}
.carroussel {
  margin-top: 50px;
  overflow: hidden;
  width: 100%;
}
.toolbar button {
  cursor: pointer;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 25%;
  background-color: #f96228;
}

.carroussel * {
  margin: 5px;
}

#params .petite2 {
  opacity: 0.4;
  width: 10%;
  height: auto;
}
#params .petite {
  opacity: 0.5;
  width: 20%;
  height: auto;
}
.carroussel img {
  border-radius: 10%;
  width: 30%;
  height: auto;
}
#params {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner {
  margin-top: 50px;
  height: 500px;
  background-image: url("../sources/gym.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  padding-bottom: 20px;
}
hr {
  border-color: #e82500;
}
.page {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}
.accueil {
  margin-top: 100px;
}
.accueil p {
  color: #bb8f00;
  font-size: 17px;
}
section p {
  color: white;
  font-weight: normal;
}
.top-vente-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}
.top-vente article {
  background-color: white;
  -webkit-box-shadow: 1px 1px 10px #fedacc;
  box-shadow: 1px 1px 10px #fedacc;
  max-width: 500px;
  margin: 30px auto 0 auto;
  border-radius: 60px;
}
.top-vente article:hover {
  -webkit-box-shadow: 8px 8px 15px #fedacc;
  box-shadow: 8px 8px 15px #fedacc;
  border: 1px solid #fedacc;
  transform: scale(1.05);
}
.top-vente article h3 {
  padding-top: 10px;
}
.top-vente article img {
  height: 300px;
}
.logo {
  margin: 20px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.logof {
  -webkit-box-shadow: 0 0 15px 5px white;
  box-shadow: 0 0 15px 5px white;
  margin: 20px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.titre-table {
  color: #f96228;
}

/************************footer*******************/
footer {
  margin-top: 30px;
}
.content {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content p {
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
}
.content p a {
  text-decoration: none;
  color: #ffc814;
}

/********************CONTACT**********************/

.contact-form {
  -webkit-box-shadow: 0 0 10px 3px #f96228;
  box-shadow: 0 0 10px 3px #f96228;
  border-radius: 20px;
}
.contact-form label {
  color: #f96228;
}
textarea {
  margin: 15px 0;
  width: 500px;
  max-width: 100%;
  border-radius: 15px;
  padding: 5px;
  border: 2px solid #ff6429;
  resize: none;
}
legend {
  width: 100%;
  text-align: center;
  border-bottom: 0;
  padding-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}
input {
  margin: 15px 0;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #ff6429;
}
input[type="submit"] {
  margin: 20px;
  width: 150px;
  height: 50px;
  background-color: #fcb79c;
  color: white;
  font-weight: bold;
}
input[type="submit"]:hover {
  cursor: pointer;
  color: #fcb79c;
  background-color: white;
}
.contact iframe {
  width: 100%;
  margin: 20px 0;
  border-radius: 20px;
}
.taille-input {
  max-width: 100%;
}

/******************PRODUITS************************/

.produitt img {
  height: 350px;
  width: 300px;
}
.articleproduit img {
  max-width: 70%;
  margin: 30px;
}

/**************ADMINISTRATION*****************/
.add-product {
  font-size: 25px;
  color: #ff8556;
}
.custom-button {
  border: none;
  background-color: #ff8556;
  color: white;
}
.custom-button:hover {
  cursor: pointer;
}
.administration table th {
  border: 2px solid black;
  color: #e82500;
}
.administration table th:nth-of-type(3) {
  width: 50%;
}
.administration table th:nth-of-type(1) {
  width: 15%;
}
.administration table {
  width: 100%;
  color: white;
  color: black;
}
.administration table td,
table th,
table tr {
  border: 1px solid black;
}
.administration th {
  text-align: center;
}
.administration td a {
  text-decoration: none;
  color: black;
}
.categorie-choice {
  width: 250px;
  height: 40px;
  border: 2px solid #e82500;
  color: #e82500;
  border-radius: 12px;
}

/*********************RESPONSIVE********************/

@media screen and (min-width: 740px) {
  .header-navigation a {
    width: 30%;
    color: #d8ac1f;
  }
  .clubs article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .clubs article img {
    margin: 20px;
  }
  .clubs article .info {
    margin-left: auto;
    margin-right: auto;
  }
  .divproduit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .divproduit p {
    margin: 20px;
    width: 30%;
  }
}

/*********************RESPONSIVE********************/

@media screen and (min-width: 1040px) {
  .divheader {
    flex-direction: row;
  }
  .titre-table {
    width: 100%;
  }
  .top-vente img {
    width: 200px;
    height: 200px;
    max-width: 90%;
  }
  .top-vente {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  section.top-vente article {
    width: 31%;
    height: auto;
    border-radius: 60px;
  }
}

/**************************outils**********************/

.fa-chevron-circle-left {
  position: relative;
  left: 30px;
  opacity: 0;
}
.fa-chevron-circle-right {
  position: relative;
  right: 30px;
  opacity: 0;
}
.header-navigation a:hover .fa-chevron-circle-right {
  opacity: 1;
  right: 0;
}
.header-navigation a:hover .fa-chevron-circle-left {
  opacity: 1;
  left: 0;
}

.myButton {
  background-color: #d8957b;
  border-radius: 6px;

  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  margin-bottom: 20px;
}
.myButton:hover {
  background-color: #f96228;
  text-decoration: none;
  color: white;
}
.myButton:active {
  position: relative;
  top: 1px;
  text-decoration: none;
}
