<main class="administration container">
    <div class="page">
        <p>gérer vos produits</p>
        <a href="../php/ajouter-produit.php" class="add-product">Ajouter un produit</a>
    </div>
    <div class="produitt">
        <h2>MUSCULATION</h2>
        <table>
            <thead>
                <tr>
                    <th>Titre du produit</th>
                    <th>Prix du produit</th>
                    <th>Description du produit</th>
                </tr>
            </thead>
            <tbody>
                <?php include '../php/requete-administration-musculation.php' ?>
            </tbody>
        </table>
        <h2>FITNESS</h2>
        <table>
            <thead>
                <tr>
                    <th>Titre du produit</th>
                    <th>Prix du produit</th>
                    <th>Description du produit</th>
                </tr>
            </thead>
            <tbody>
                <?php include '../php/requete-administration-fitness.php' ?>
            </tbody>
        </table>
        <h2>ACCESSOIRES</h2>
        <table>
            <thead>
                <tr>
                    <th>Titre du produit</th>
                    <th>Prix du produit</th>
                    <th>Description du produit</th>
                </tr>
            </thead>
            <tbody>
                <?php include '../php/requete-administration-accessoire.php' ?>
            </tbody>
        </table>
    </div>
</main>