<tr>
    <td><a href="../php/produit.php?view=<?= $value['id_produit'] ?>"><?= $value['titre_produit']; ?></a></td>
    <td><?= $value['prix_produit'] . '€'; ?></td>
    <td><?= mb_substr($value['description_produit'], 0, 100) . '[...]'; ?></td>
    <td>
        <form action="../php/editer-produit.php" method="get">
            <input type="hidden" name="editer-produit" value="<?php echo $value['id_produit']; ?> ">
            <button type="submit" class="but-edit custom-button"><i class='fas fa-pencil-alt'></i></button>
        </form>
        <form action="../php/supprimer-produit.php" method="get">
            <input type="hidden" name="supprimer-produit" value="<?php echo $value['id_produit']; ?> ">
            <button type="submit" class="but-sup custom-button"><i class="fas fa-times"></i></button>
        </form>
    </td>
</tr>