<footer class="container">
  <hr>
  <div class="content">
    <a href="../index.php">
      <img src="../sources/logo.png" alt="logo" class="logof">
    </a>
    <p>created & designed by <a href="https://www.krideneabdelkhalak.info"> Kridene Abdel khalak </a></p>
  </div>
</footer>
<script src="../js/jquery.js"></script>
<script src="../js/functions.js"></script>
<script src="../js/script.js"></script>
</body>

</html>