<body>
  <header>
    <div class="container ">
      <div class="divheader">
        <a href="../index.php">
          <img src="../sources/logo.png" alt="logo" class="logo">
        </a>
        <nav class="header-navigation">
          <a href="../php/fitness.php"><i class="fas fa-chevron-circle-right"></i> Fitness <i class="fas fa-chevron-circle-left"></i></a>
          <a href="../php/musculation.php"><i class="fas fa-chevron-circle-right"></i> Musculation <i class="fas fa-chevron-circle-left"></i></a>
          <a href="../php/accessoires.php"><i class="fas fa-chevron-circle-right"></i> Accessoires <i class="fas fa-chevron-circle-left"></i></a>
          <a href="../php/contact.php"><i class="fas fa-chevron-circle-right"></i> Contact <i class="fas fa-chevron-circle-left"></i></a>
        </nav>
        <div class="login">
          <?php
          if (isset($_SESSION['auth'])) {
          ?>
            <p>Bonjour <?php echo $_SESSION['auth']['username_client'] ?> </p>
            <p><a href="../php/deconnexion.php">Déconnexion</a></p>
            <p><a href="../php/compte.php">Votre compte</a></p>
            <?php
            if ($_SESSION['auth']['username_client'] === "admin") {
            ?>
              <p><a href="../php/administration.php">Panneau d'administration</a></p>
            <?php
            }
          } else {
            ?>
            <p><a href="../php/connexion.php">Connexion</a></p>
          <?php
          }
          ?>
        </div>
      </div>
    </div>
  </header>