<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="../sources/favicon.jpg" type="image/gif" sizes="16x16">

  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="../css/normalize.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
  <title>Coin Fitness</title>
</head>