<div>
    <p>Vous avez mal remplis le formulaire.</p>
    <ul style="list-style-type: circle">
        <?php
        foreach ($errors as $error) {
        ?>
            <li><?php echo $error; ?> </li>
        <?php
        }
        ?>
    </ul>
</div>