<main class="administration container">
  <div class="page">
    <p>Ajouter un produit</p>
  </div>
  <form class="formmm" enctype="multipart/form-data" action="../php/requete-ajouter.php" method="post">
    <fieldset>
      <legend>Formulaire d'ajout de produit</legend>
      <label for="description">Description du produit </label>
      <br>
      <textarea rows="8" cols="80" required name="description" id="description"></textarea>
      <br>
      <label for="titre">Titre du produit </label>
      <br>
      <input type="text" name="titre" id="titre" required class="taille-input">
      <br>
      <label for="prix">Prix du produit </label>
      <br>
      <input type="number" name="prix" id="prix" required class="taille-input">
      <br>
      <label for="file">Lien de l'image du produit</label>
      <br>
      <input type="file" name="file" id="file" required class="taille-input">
      <br>
      <label for="categorie">Catégorie du produit </label>
      <br>
      <select class="categorie-choice" name="categorie" id="categorie">
        <?php include '../php/requete-get-categorie.php' ?>
      </select>
      <br>
      <input type="submit" value="Envoyer">
    </fieldset>
  </form>
</main>