<main class="contact container">
  <div class="container">
    <div class="page">
      <p>Contact</p>
    </div>

    <form class="contact-form" action="./requete-contact.php" method="get">
      <legend>Formulaire de contact</legend>
      <label for="message">Message: </label>
      <br>
      <textarea rows="8" cols="80" name="message" id="message" required></textarea>
      <br>
      <label for="nom">Nom: </label>
      <br>
      <input type="text" name="nom" id="nom" id required class="taille-input">
      <br>
      <label for="mail">E-mail: </label>
      <br>
      <input type="mail" name="mail" id="mail" required class="taille-input">
      <br>
      <label for="tel">Téléphone:</label>
      <br>
      <input type="text" name="tel" id="tel" class="taille-input">
      <br>
      <input type="submit" value="Envoyer">
    </form>
    <br>
    <h1>Trouver Nous </h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d598.7962392247111!2d10.200426628074233!3d36.85126516338915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34ce8a084e73%3A0x898d1ddc04926787!2s4%20Rue%20Diwan%2C%20Ariana!5e1!3m2!1sfr!2stn!4v1611858566415!5m2!1sfr!2stn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</main>