<main class="accueil container">
    <section class="bloc-texte-accueil">
        <div class="container">
            <h1>Bienvenue chez Coin Fitness !</h1>
            <p>
                Coin Fitness est le plus grand spécialiste des équipements de sport pour la maison (Home Fitness) et l'utilisation professionnelle (Fitness professionnel).
            </p>
            <p> De deux décennies sur le marché nous ont permis de développer une large gamme de machines de cardio, appareils de fitness et de l'équipement de remise en forme complète pour répondre aux besoins des clubs sportifs, des établissements de restauration et d'autres sites d'affaires.
            </p>
        </div>
        <section class="spot">
            <iframe src="https://www.youtube.com/embed/1MugeX2WMhc?autoplay=1&mute=0&controls=0" frameborder="0"></iframe>
        </section>
    </section>
    <section class="top-vente container">
        <h1 class="titre-table">TOP VENTE</h1>
        <?php include 'top-vente.php' ?>
    </section>
    <section class="banner">
    </section>
    <section class="carroussel">
        <nav class="toolbar">
            <button class="prev"><i class="fa fa-backward" aria-hidden="true"></i></button>
            <button id="play"><i class="fa fa-play-circle" aria-hidden="true"></i></button>
            <button class="next"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
            <button id="random"><i class="fa fa-random" aria-hidden="true"></i></button>
        </nav>

        <div id="params">
            <img class="petite2" id="slider3" src="../images/4.jpg" alt=image-4>
            <img class="petite" id="slider1" src="../images/5.jpg" alt="image-5">
            <img class="petite2" id="slider5" src="../images/6.jpg" alt="image-6">
            <img id="slider" src="../images/1.jpg" alt="image">
            <img class="petite" id="slider2" src="../images/2.jpg" alt="image-2">
            <img class="petite2" id="slider4" src="../images/3.jpg" alt="image-3">
        </div>
    </section>

</main>