<hr>
<div class="articleproduit">
  <h3 class="titreproduit"><?php echo $value['titre_produit']; ?></h3>
  <div class="divproduit">
    <img src="<?= $value['img_produit']; ?>" alt="<?php echo $value['titre_produit']; ?>">
    <p>
      <?= $value['description_produit'] ?>
      <br>
      <br>
      <strong>Prix : <?= $value['prix_produit'] . '€'; ?></strong>
    </p>
  </div>
</div>