<hr>
<div class="articleproduit">
  <h3 class="titreproduit"><?php echo $value['titre_produit']; ?></h3>
  <img src="<?= $value['img_produit']; ?>" alt="<?php echo $value['titre_produit']; ?>">
  <br>
  <p><?= mb_substr($value['description_produit'], 0, 100) . '[...].' ?></p>
  <form action="produit.php" method="get">
    <input type="hidden" name="view" value="<?= $value['id_produit']; ?>">
    <input type="submit" class="myButton" value="En savoir plus">
  </form>
</div>