<form class="formmm" action="../php/requete-editer.php" method="get">
  <fieldset>
    <legend>Formulaire de modification de produit</legend>
    <label for="description">Description du produit </label>
    <br>
    <textarea rows="8" cols="80" required name="description" id="description"><?php echo $value['description_produit'] ?></textarea>
    <br>
    <label for="titre">Titre du produit </label>
    <br>
    <input type="text" name="titre" id="titre" required class="taille-input" value="<?php echo $value['titre_produit'] ?>">
    <br>
    <label for="prix">Prix du produit </label>
    <br>
    <input type="number" name="prix" id="prix" required class="taille-input" value="<?php echo $value['prix_produit'] ?>">
    <br>
    <label for="lien">Lien de l'image du produit</label>
    <br>
    <input type="text" name="lien" id="lien" class="taille-input" value='<?php echo $value['img_produit'] ?>'>
    <br>
    <label for="categorie">Catégorie du produit </label>
    <br>
    <select class="categorie-choice" name="categorie" id="categorie">
      <?php include '../php/requete-get-categorie.php' ?>
    </select>
    <br>
    <input type="hidden" name="view" value="<?php echo $id ?> ">
    <input type="submit" value="Envoyer">
  </fieldset>
</form>