<?php include '../php/requete-compte.php' ?>

<h1>Votre Compte</h1>
<form class="contacter" action="" method="post">
  <h4>Changer votre Mot de passe</h4>
  <input type="password" name="password" class="taille-input" placeholder="Modifier votre mot de passe">
  <br>
  <input type="password" name="password_confirm" class="taille-input" placeholder="Confirmer votre nouveau mot de passe">
  <br>
  <input type="submit" value="Valider">
</form>