<?php include '../php/requete-connexion.php' ?>

<main class="contact container">
  <div class="page">
    <p>Connexion</p>
  </div>
  <form class="connexion" action="" method="post">
    <label for="user-name">Votre Nom :</label>
    <br>
    <input type="text" name="user-name" id="user-name" class="taille-input">
    <br>
    <label for="user_password">Mot De Passe:</label>
    <br>
    <input type="password" name="user_password" id="user_password" class="taille-input">
    <br>
    <input type="submit" value="Connexion">
  </form>
</main>