<main class="musculation container">
    <div class="page">
        <p>Musculation</p>
    </div>
    <div class="produitt">
        <?php include '../php/requete-musculation.php' ?>
    </div>
</main>