<article>
    <h3><?php echo $value['titre_produit']; ?></h3>
    <img src="<?= $value['img_produit']; ?>" alt="<?= $value['titre_produit']; ?>" class="img">
    <h4><?= $value['prix_produit'] . '€'; ?></h4>
    <a href="produit.php?view=<?= $value['id_produit'] . '€'; ?>" class="myButton">Voir Plus</a>
</article>